ftpHost=your_qa_ftp_host_here
ftpPort=your_qa_ftp_port_here
ftpUser=your_qa_ftp_user_here
ftpPass=your_qa_ftp_pass_here

projectNamespace=ZeiglerD
projectName=ZeiglerD
projectDomain=qa.zeiglerd.com
environment=qa

maintenanceMode=false

defaultController=home
defaultAction=index

errorController=error
errorAction404=error404

projectTheme=zeiglerd-theme
engineTheme=core

dbDatabase=mysql
dbHost=your_qa_db_host_here
dbPort=3306
dbName=vriipxfb_qa_zeiglerd_com
dbUser=vriipxfb_qa_zeiglerd_com
dbPass=your_qa_db_pass_here
dbCharset=utf8mb4

minPageSearchLength=3
