FTP_HOST=your_host_here
FTP_USER=your_user_here
FTP_PASS=your_pass_here

PROJECT_NAME=ZeiglerD
PROJECT_DOMAIN=zeiglerd.com
ENVIRONMENT=prod

DEBUG_ROUTER=0
DEBUG_TEMPLATE=0

MAINTENANCE_MODE=1

DEFAULT_CONTROLLER=home
DEFAULT_ACTION=index

ERROR_CONTROLLER=error
ERROR_ACTION_404=error404

PROJECT_THEME=zeiglerd-theme
ENGINE_THEME=core

DB_DATABASE=mysql
DB_HOST=your_host_here
DB_NAME=vriipxfb_zeiglerd_com_prod
DB_USER=your_user_here
DB_PASS=your_pass_here
DB_CHARSET=utf8mb4

MIN_POST_SEARCH_LENGTH=3
