projectNamespace=ZeiglerD
projectName=ZeiglerD
projectDomain=zeiglerd.com
environment=local

maintenanceMode=false

defaultController=home
defaultAction=index

errorController=error
errorAction404=error404

projectTheme=zeiglerd-theme
engineTheme=core

dbDatabase=mysql
dbHost=your_local_db_host_here
dbPort=3306
dbName=local_zeiglerd_com
dbUser=your_local_db_user_here
dbPass=your_local_db_pass_here
dbCharset=utf8mb4

minPageSearchLength=3
