ftpHost=your_dev_ftp_host_here
ftpPort=your_dev_ftp_port_here
ftpUser=your_dev_ftp_user_here
ftpPass=your_dev_ftp_pass_here

projectNamespace=ZeiglerD
projectName=ZeiglerD
projectDomain=dev.zeiglerd.com
environment=dev

maintenanceMode=false

defaultController=home
defaultAction=index

errorController=error
errorAction404=error404

projectTheme=zeiglerd-theme
engineTheme=core

dbDatabase=mysql
dbHost=your_dev_db_host_here
dbPort=3306
dbName=vriipxfb_dev_zeiglerd_com
dbUser=vriipxfb_dev_zeiglerd_com
dbPass=your_dev_db_pass_here
dbCharset=utf8mb4

minPageSearchLength=3
