ftpHost=your_prod_ftp_host_here
ftpPort=your_prod_ftp_port_here
ftpUser=your_prod_ftp_user_here
ftpPass=your_prod_ftp_pass_here

projectNamespace=ZeiglerD
projectName=ZeiglerD
projectDomain=zeiglerd.com
environment=prod

maintenanceMode=false

defaultController=home
defaultAction=index

errorController=error
errorAction404=error404

projectTheme=zeiglerd-theme
engineTheme=core

dbDatabase=mysql
dbHost=your_prod_db_host_here
dbPort=3306
dbName=vriipxfb_prod_zeiglerd_com
dbUser=vriipxfb_prod_zeiglerd_com
dbPass=your_prod_db_pass_here
dbCharset=utf8mb4

minPageSearchLength=3
