$color-primary: rgb(105,103,206);
$color-secondary: rgb(89,89,89);
$color-success: rgb(25,135,84);
$color-danger: rgb(220,53,69);
$color-warning: rgb(255,193,7);
$color-info: rgb(13,202,240);
$color-light: rgb(248,249,250);
$color-dark: rgb(33,37,41);
