@import '../../../vendor/zeiglerd/php-engine/src/templates/core/variables';

$primary-color: rgba(55, 156, 244, 1);
$secondary-color: rgba(69, 89, 167, 1);

$dark-color: rgba(14, 17, 17, 1);
$light-color: rgba(249, 249, 249, 1);
