[data-page=geordie] {
  @include flex(1);

  align-self: center;
  max-width: $max-width-fluid;
  width: 100%;

  > hgroup {

    h1 { padding: $gap-size; }
  }

  > article {
    @include flex();

    @media screen and (min-width: $md-breakpoint) { flex-direction: row; }

    aside, main {
      @include flex();

      > section {
        @include flex();

        @media screen and (min-width: $lg-breakpoint) {
          flex-direction: row;
        }

        .outer-card-container {
          @include flex();

          color: $color-dark;
          padding: $gap-size;
          scroll-margin-top: pxtoem(10);

          .inner-card-container {
            @include flex();

            border: pxtoem(2) dashed $color-dark;

            .card {
              @include flex();

              background: no-repeat center var(--background-url);
              background-size: cover;
              color: $color-dark;

              img {
                z-index: 1;
              }
            }
          }

          menu {
            @include flex($direction: row);

            border: pxtoem(2) solid $color-dark;
            height: pxtoem(42);

            &:not(:first-child) { border-top: none; }
            &:first-child { border-bottom: none; }

            li {
              @include flex(1);

              list-style: none;

              button {
                height: 100vh;
                z-index: 1;

                &:disabled { display: none; }
              }
            }
          }

          [data-before-key] {
            position: relative;

            &::before {
              left: 50%;
              position: absolute;
              top: 50%;
              transform: translate(-50%, -50%);

              color: rgba($color-dark, .2);
              content: var(--before-string);
            }
          }
        }
      }
    }

    aside {
      background: $color-dark;

      @media screen and (min-width: $md-breakpoint) { flex: 1; }

      > section {

        .outer-card-container {
          color: $color-light;

          @media screen and (min-width: $lg-breakpoint) { flex: 1; }

          .inner-card-container { border-color: $color-light; }

          menu { border-color: $color-light; }

          [data-before-key]::before { color: rgba($color-light, .5); }
        }
      }
    }

    main {

      @media screen and (min-width: $md-breakpoint) { flex: 1; }
      @media screen and (min-width: $lg-breakpoint) { flex: 3; }

      > section {

        .outer-card-container {

          @media screen and (min-width: $lg-breakpoint) {
            flex: 0 1 33.33333333333333%;
          }
        }
      }
    }
  }
}
